Session.vim
.python-version
__pycache__/
JMdict_e.gz

forvo_files/
jpod_files/
jpod_alt_files/
nhk16_files/
shinmeikai8_files/

input/
output/
output_low_vol/
build/
temp/
test/

config.json
local-yomichan-audio-collection-*.tar.xz
